.canvas-container {
  border: 1px dashed #ccc;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.canvas-container > canvas {
  margin: 0 auto;
}

.canvas-container .canvas-container-tips {
  width: 100%;
  padding: 32px;
  text-align: center;
  color: #ccc;
}

.upload-icon-container {
  width: 94px;
  height: 86px;
  padding-top: 16px;
  line-height: 20px;
  border: 1px dashed #ccc;
  text-align: center;
  border-radius: 6px;
}

.upload-watermark-container {
  padding: 20px 25px;
  font-size: 12px;
  border: 1px dashed #ccc;
  text-align: center;
  border-radius: 6px;
}

.setting-upload-fileList {
  display: flex;
  flex-wrap: wrap;
}

.setting-file-preview-container {
  position: relative;
  width: 94px;
  height: 86px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.setting-file-preview {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px dashed #ccc;
  border-radius: 6px;
}

.setting-file-remove {
  position: absolute;
  top: -5px;
  right: -5px;
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
}

.setting-watermark-image-preview {
  display: block;
  width: 76px;
  height: 74px;
  margin-left: 16px;
  border: 1px dashed #ccc;
  border-radius: 6px;
}

.multiple-canvas-empty {
  width: 100%;
  padding: 32px;
  text-align: center;
  color: #ccc;
  border: 1px dashed #ccc;
  border-radius: 6px;
}

.multiple-canvas-content {
  overflow: auto;
  border: 1px dashed #ccc;
  border-radius: 6px;
  margin-bottom: 16px;
}

.multiple-canvas-content > canvas {
  margin: 0 auto;
}

.multi-container-fixed {
  position: fixed;
  inset: 0;
  background-color: #fff;
}

.multi-container-fixed-header {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #f0f0f0;
}

.mobile-btn-group {
  display: none;
}

.mobile-intro-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-btn-group {
    display: inline-flex;
  }

  .pc-btn-group {
    display: none;
  }

  .pc-intro-btn {
    display: none;
  }

  .mobile-intro-btn {
    display: inline-block;
  }
}
